@charset "utf-8"

  * {
margin : 0;
padding : 0;
}
  
  body{
    background-color: lightsteelblue;
    font-family: 'Merriweather', serif;
}

header{
  padding: 10px;
  text-align: center;
  background-color: coral;
}
section{
  padding: 10px;
  background-color: lightsalmon;
}
aside{
  padding: 10px;
  background-color: mediumseagreen;
}
footer{
  padding: 10px;
  background-color: dodgerblue;
  text-align: center;
}

/* 641px以上 */
@media screen and (min-width:641px){
  aside{
    width: calc(50% - 20px);
    float:left;
  }
  #side:after{
    /* clearfix */
    content:"";
    display:block;
    clear:both
  }
}

/* 1025px1以上 */
@media screen and (min-width:1025px){
  #main{
    max-width: 1024px;
    margin: auto;
  }
  section{
    width: calc(70% - 20px);
    float:left;
  }
  #side{
    width: calc(1024px - 718px);
    float:left;
  }
  aside{
    width: calc(100% - 20px);
  }
  #main:after{
    /* footerを下に回り込ませる */
    /* clearfix */
    content:"";
    display:block;
    clear:both;
  }
}
